.container { padding: 50px; }
@media (max-width:320px) { .container { padding: 1px;  } }
@media (max-width:481px) { .container { padding: 2px;  } }
@media (max-width:641px) { .container { padding: 5px;  } }
@media (max-width:961px) { .container { padding: 10px;  } }

 
/* Override the default bootstrap behavior where horizontal description lists
 will truncate terms that are too long to fit in the left column
 */
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.required-field-label:after
{
    content: " *";
    color:red;
}

.parameter-display
{
    display:block;
}

.inactive {
    pointer-events: none;
    cursor: default;
}

.combodate-inline {
    display: inline-block;
}